body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 39px;
    height: 39px;
}
.profile .section {
    margin-top: 15px;
}
.menu{
    color:#999;
    font-size: 13px;
}